<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请确认是否要授权</title>
</head>
<body>
<form method="post">
    <h2><%=loginUserId%>,请问你是否要授权此<%=appInfo.name%>网站</h2>
    <p>应用简介：<%=appInfo.desc%></p>
    <input type="submit" value="确定">
</form>
</body>
</html>